.in-stock {
    padding-top: 58px;
    padding-bottom: 54px;
}
.in-stock__wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.in-stock__title {
    font-size: 20px;
    @include bold;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}
.in-stock__list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.in-stock__list-item {
    border: 2px solid $light-gray;
    text-align: center;
    max-width: 300px;
    padding-top: 36px;
    padding-bottom: 34px;
    margin: 10px;
    transition: .3s ease;
    &:hover {
        box-shadow: 0 0 20px rgba($black, .2);
    }
}
.in-stock__list-item {
    > .list-item__title {
        margin-top: 24px;
        font-size: 15px;
        display: inline-block;
        border-bottom: 1px solid $medium-gray;
    }
    > .list-item__desc {
        font-size: 13px;
        @include regular;
        color: $medium-black;
        max-width: 230px;
        margin: 0 auto;
        line-height: 16px;
        margin-bottom: 27px;
    }
    > .list-item__price {
        font-size: 16px;
        @include bold;
        margin-bottom: 31px;
    }
    > .list-item__more-btn {
        padding: 16px 50px;
        line-height: 14px;
        border: 2px solid $yellow;
        background-color: $yellow;
        font-size: 12px;
        @include bold;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
            background-color: $white;
        }
    }
}