@mixin light {
    font-weight: 300;
}
// @include light;

@mixin regular {
    font-weight: 400;
}
// @include regular;

@mixin medium {
    font-weight: 500;
}
// @include medium;

@mixin bold {
    font-weight: 700;
}
// @include bold;