:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

@import "fonts";
@import "mixins";
@import "colors";

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    @include regular;
}

@import "blocks/header";
@import "blocks/in-stock";
@import "blocks/advantages";
@import "blocks/popular-goods";
@import "blocks/services";